.fileOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.fileOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.fileOption > h4 {
    margin-left:  5px;
}